{% extends "base.html" %}
{% block title %}
    Article: {{articles[0].id}}
{% endblock %}
{% block content %}
    <div style="width:60%; margin:0 auto;">
        <div class="card mt-3 tab-card">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active p-3" id="one" role="tabpanel" aria-labelledby="one-tab">
                <h5 class="card-title">{{articles[0].title}}</h5>
                <p>Article ID: {{articles[0].id}}</p>
                <hr/>
                {{articles[0].body|safe}} <!-- Remember to sanitise input-->
                <p></p>
                <hr/>
                <b>Tags</b>
                <br/>
                {{articles[0].tags}}
                <p></p></p>
                <b>Created</b>
                <br/>
                {{articles[0].creation_date}}
                <p></p></p>
                <b>Last updated</b>
                <br/>
                {{articles[0].last_updated_date}}
                <hr/>
                {% if articles[0].attachments != None %}
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#attachmentsModal">
                    View attachments
                  </button>
                {% endif %}
                <div class="btn-toolbar pull-right" style="margin-bottom: 15px;">
                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#editArticleModal">
                      Edit
                    </button> 
                    <div>&nbsp;&nbsp;</div>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#deleteModal">
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </div>

  <!-- Delete modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Confirm deletion</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <form method="post" action="/articles/delete/{{articles[0].id}}">
            <input type="submit" value="Confirm" class="btn btn-primary">
            </form>
        </div>
      </div>
    </div>
  </div>
</div>

  <!-- Attachments modal -->
  <div class="modal fade" id="attachmentsModal" tabindex="-1" aria-labelledby="attachmentsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="attachmentsModalLabel">Attachments</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <a href="/uploads/{{articles[0].attachments}}">{{articles[0].attachments}}</a>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Edit article modal -->
<div class="modal fade" id="editArticleModal" tabindex="-1" aria-labelledby="editArticleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editArticleModalLabel">Edit Article</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="post" action="/articles/edit/{{articles[0].id}}" enctype="multipart/form-data">
        <div class="modal-body">
          <div class="form-group">
            <label for="email">Title</label>
            <input
              type="text"
              class="form-control"
              id="title"
              name="title"
              value="{{articles[0].title}}"
              placeholder="Enter title"
            />
          </div>
          <br/>
          <div class="form-group">
            <label for="email">Description</label>
            <textarea
              class="form-control"
              id="editor"
              name="editor"
              rows="3">{{articles[0].body}}</textarea>
          </div>
          <br/>
          <div class="form-group">
            <label for="email">Tags</label>
            <input
              type="text"
              class="form-control"
              id="tags"
              name="tags"
              value="{{articles[0].tags}}"
              placeholder="Enter tags"
            />
          </div>
          <br/>
          <div class="form-group">
            <label for="email">Attachments</label>
            <input
              type="file"
              class="form-control-file"
              id="files"
              name="files"
              >
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
            
{% endblock %}
    