{% extends "base.html" %}
{% block title %}Articles{% endblock %}
{% block content %}
    <h1 align="center">Articles</h1>
    <div align="right">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#addArticleModal">
        <i class="fa fa-plus"></i>
      </button>
    </div>
    <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th class="col-1" scope="col">ID</th>
            <th scope="col">Name</th>
            <th class="col-2" scope="col">Created</th>
          </tr>
        </thead>
        <tbody>
        {% for article in articles %}
          <tr onclick="window.location='/articles/{{article.id}}';">
            <th scope="row">{{article.id}}</th>
            <td>{{article.title}}</td>
            <td>{{article.creation_date}}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>

      <!-- Add article modal -->
      <div class="modal fade" id="addArticleModal" tabindex="-1" aria-labelledby="addArticleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addArticleModalLabel">Add Article</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" action="/articles/add" enctype="multipart/form-data">
              <div class="modal-body">
                <div class="form-group">
                  <label for="email">Title</label>
                  <input
                    type="text"
                    class="form-control"
                    id="title"
                    name="title"
                    placeholder="Enter title"
                  />
                </div>
                <br/>
                <div class="form-group">
                  <label for="email">Description</label>
                  <textarea
                    class="form-control"
                    id="editor"
                    name="editor"
                    rows="3"></textarea>
                </div>
                <br/>
                <div class="form-group">
                  <label for="email">Tags</label>
                  <input
                    type="text"
                    class="form-control"
                    id="tags"
                    name="tags"
                    placeholder="Enter tags"
                  />
                </div>
                <br/>
                <div class="form-group">
                  <label for="email">Attachments</label>
                  <input
                    type="file"
                    class="form-control"
                    id="files"
                    name="files"
                    multiple
                    >
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
    