{% extends "base.html" %}
{% block title %}Articles{% endblock %}
{% block content %}
    <h1 align="center">Articles</h1>
    <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th class="col-1" scope="col">ID</th>
            <th scope="col">Name</th>
            <th class="col-1" scope="col">Created</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">00001</th>
            <td>OBIEE web server 403</td>
            <td>01/01/1997</td>
          </tr>
          <tr>
            <th scope="row">00002</th>
            <td>OBIEE web server 405</td>
            <td>01/01/1997</td>
          </tr>
          <tr>
            <th scope="row">00003</th>
            <td>OBIEE web server 501</td>
            <td>01/01/1997</td>
          </tr>
        </tbody>
      </table>
{% endblock %}
    