{% extends "base.html" %}
{% block title %}
    Article: {{articles[0].id}}
{% endblock %}
{% block content %}
    <div style="width:60%; margin:0 auto;">
        <div class="card mt-3 tab-card">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active p-3" id="one" role="tabpanel" aria-labelledby="one-tab">
                <h5 class="card-title">{{articles[0].title}}</h5>
                <p>Article ID: {{articles[0].id}}</p>
                <hr/>
                <b>Description</b>
                <br/>
                {{articles[0].body}}
                <p></p>
                <b>Tags</b>
                <br/>
                {{articles[0].tags}}
                <p></p></p>
                <b>Created</b>
                <br/>
                {{articles[0].creation_date}}
                <hr/>
                <a href="#" class="btn btn-primary pull-left">View attachments</a>
                <div class="btn-toolbar pull-right" style="margin-bottom: 15px;">
                    <a href="#" class="btn btn-secondary">Edit</a> 
                    <div>&nbsp;&nbsp;</div>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#deleteModal">
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </div>

  <!-- Delete Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Confirm deletion</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <form method="post" action="/articles/delete/{{articles[0].id}}">
            <input type="submit" value="Confirm" class="btn btn-primary">
            </form>
        </div>
      </div>
    </div>
  </div>
</div>
            
{% endblock %}
    