{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}
<h1 align="center">IKASA</h1>
<h5 align="center">Integrated Knowledge Article Suggestion Application</h5>
<br/>
<p>Welcome to IKASA, a web application designed to improve incident resolution efficiency. With the ability to create, edit, delete and share knowledge articles information can easily be shared between employees within the business. Tickets are also extracted from your service management tool allowing IKASA to intelligently suggest articles which relate to incidents, with the goal of reducing time to incident resolution.</p>
<br/>
<div class="container">
  <div class="row">
    <div align="center" class="col-3 border border-primary rounded" style="padding-top: 10px;">
      <h5>Number of articles</h5>
      <h2>{{article_count}}</h2>
    </div>
    <div class="col"></div>
    <div align="center" class="col-3 border border-primary rounded" style="padding-top: 10px;">
      <h5>Number of tickets</h5>
      <h2>{{ticket_count}}</h2>
    </div>
    <div class="col"></div>
    <div align="center" class="col-3 border border-primary rounded" style="padding-top: 10px;">
      <h5>Number of suggestions</h5>
      <h2>{{suggestion_count}}</h2>
    </div>
  </div>
</div>
{% endblock %}
