{% extends "base.html" %}
{% block title %}
    Task: {{task.reference}}
{% endblock %}
{% block content %}

<div>
    <div class="card mt-3 tab-card">
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active p-3" id="one" role="tabpanel" aria-labelledby="one-tab">
                <h5 class="card-title">{{task.short_description}}</h5>
                <p>Task id: {{task.id}}</p>
                <hr/>
                {{task.long_description|safe}} 
                <p></p>
                <hr/>
                <b>Assigned to</b>
                <br/>
                {% if task.assigned_to is not none %}   
                  {{task.assigned_to.first_name}} {{task.assigned_to.last_name}}
                {% else %}
                  Empty
                {% endif %}
                <br />
                <br />
                <b>Created by</b>
                <br/>
                {{task.created_by.first_name}} {{task.created_by.last_name}}
                <br />
                <br />
                <b>Due date</b>
                <br/>
                {% if task.due_date is not none %}   
                  {{task.due_date.strftime('%d/%m/%Y')}}
                {% else %}
                  Empty
                {% endif %}
                <hr/>
                {% if attachments[0] is defined %}
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#attachmentsModal">
                    View attachments
                  </button>
                {% endif %}
                <div class="btn-toolbar pull-right" style="margin-bottom: 15px;">
                    <button type="button"
                    class="btn btn-secondary {% if user.id != task.created_by and user.admin_flag == False %}disabled{% endif %}"
                    data-bs-toggle="modal" data-bs-target="#editTaskModal">
                      Edit
                    </button>
                    <div>&nbsp;&nbsp;</div>
                    <!-- Button trigger modal -->
                    <button type="button"
                    class="btn btn-secondary {% if user.id != task.created_by and user.admin_flag == False %}disabled{% endif %}"
                    data-bs-toggle="modal" data-bs-target="#deleteModal">
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<br/>

<h5 align="center">Suggested articles</h5>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th class="col-1" scope="col">ID</th>
      <th scope="col">Name</th>
      <th class="col-2" scope="col">Match strength</th>
      <th class="col-2" scope="col">Created</th>
    </tr>
  </thead>
  <tbody>
  {% for result in query %}
    <tr onclick="window.location='/articles/{{result.Article.id}}';">
      <td scope="row"><b>{{result.Article.id}}</b></td>
      <td>{{result.Article.title}}</td>
      <td>{{result.Suggestion.similarity}}</td>
      <td>{{result.Article.creation_date.strftime('%d/%m/%Y')}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

  <!-- Delete modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Confirm deletion</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <form method="post" action="/tasks/delete/{{task.id}}">
            <input type="submit" value="Confirm" class="btn btn-primary">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

  <!-- Attachments modal -->
  <div class="modal fade" id="attachmentsModal" tabindex="-1" aria-labelledby="attachmentsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="attachmentsModalLabel">Attachments</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          {% for attachment in attachments %}

          <form method="post">
            <a href="/uploads/{{attachment.file_name}}">
              {{attachment.file_name}}
            </a>
            <button {% if user.id != task.created_by and user.admin_flag == False %}hidden{% endif %} type="submit" style="background: none; border: none; color: #FF0000; float: right; cursor: pointer;" name="approve" formaction="/uploads/{{attachment.id}}">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
              </svg>
            </button>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <input type="hidden" name="_method" value="DELETE">
          </form>

          {% endfor %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
<br/>
{% endblock %}
    