{% extends "base.html" %}
{% block title %}
    Ticket: {{ticket.reference}}
{% endblock %}
{% block content %}

<div style="width:100%; margin:0 auto;">
    <div class="card mt-3 tab-card">
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active p-3" id="one" role="tabpanel" aria-labelledby="one-tab">
                <h5 class="card-title">{{ticket.short_description}}</h5>
                <p>Ticket reference: {{ticket.reference}}</p>
                <hr/>
                {{ticket.long_description}} 
                <p></p>
                <hr/>
                <b>Created by</b>
                <br/>
                {{ticket.created_by}}
            </div>
        </div>
    </div>
</div>
<br/>

<h5 align="center">Suggested articles</h5>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th class="col-1" scope="col">ID</th>
      <th scope="col">Name</th>
      <th class="col-2" scope="col">Match strength</th>
      <th class="col-2" scope="col">Created</th>
    </tr>
  </thead>
  <tbody>
  {% for result in query %}
    <tr onclick="window.location='/articles/{{result.Article.id}}';">
      <td scope="row"><b>{{result.Article.id}}</b></td>
      <td>{{result.Article.title}}</td>
      <td>{{result.Suggestion.similarity}}</td>
      <td>{{result.Article.creation_date.strftime('%d/%m/%Y')}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
            
{% endblock %}
    